<%- include('partials/header') %>

<div class="home">

    <div class="home_ele">
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Multicolored_tempera_paints.jpg" alt="paint image">
    </div>
    <div class="home_ele">
      <h1>Welcome to my Paint.</h1>
      <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>

</div>

<%- include('partials/footer') %>
